#payment_details .form-text,
#payment_details .form-textarea,
#payment_details select {
  width: 33.33%;
}

#edit-commerce-payment-payment-method > .form-item {
  padding: 8px 12px;
  border-bottom: 1px solid #ddd;
}
#edit-commerce-payment-payment-method > .form-item:hover {
  background-color: #fff;
}

/*bloco numero do cartao*/
.form-item-commerce-payment-payment-details-card-number label {
  display: block;
}

#cards-type {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0.5em;
  height: 40px;
}

#card-brand {
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
}

.visa {
  background: url('../images/visa.png');
}

.amex {
  background: url('../images/amex.png');
}

.mastercard {
  background: url('../images/marter.png');
}

.hipercard {
  background: url('../images/hipercard.png');
}

.diners {
  background: url('../images/diners.png');
}

.elo {
  background: url('../images/elo.png');
}

#card_expiration_wrapper label {
  display: block;
  font-weight: bold;
}

#card_expiration_wrapper .form-item {
  display: inline-block;
  margin: 0;
}

#card_expiration_wrapper .form-item input,
#card_expiration_wrapper .form-item select {
  width: 200px;
}


#mercado-pago-creditcard .form-item label {
  display: inline-block;
  width: 175px;
  text-align: right;
}

.pagseguro-stamp {
  background: url('../images/selo.gif');
  width: 300px;
  height: 60px;
  margin: 30px auto;
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px)
and (-webkit-min-device-pixel-ratio : 2) {
  .card-type {
    height: 19px;
    width: 30px;
  }

  #visa {
    background: url('../images/m_visa.png');
  }

  #amex {
    background: url('../images/m_amex.png');
  }

  #master {
    background: url('../images/m_marter.png');
  }

  #hipercard {
    background: url('../images/m_hipercard.png');
  }

  #diners {
    background: url('../images/m_diners.png');
  }

  #elo {
    background: url('../images/m_elo.png');
  }

  #melicard {
    background: url('../images/m_melicard.png');
  }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 640px)
and (-webkit-min-device-pixel-ratio : 3) {
  .card-type {
    height: 19px;
    width: 30px;
  }

  #visa {
    background: url('../images/m_visa.png');
  }

  #amex {
    background: url('../images/m_amex.png');
  }

  #master {
    background: url('../images/m_marter.png');
  }

  #hipercard {
    background: url('../images/m_hipercard.png');
  }

  #diners {
    background: url('../images/m_diners.png');
  }

  #elo {
    background: url('../images/m_elo.png');
  }

  #melicard {
    background: url('../images/m_melicard.png');
  }
}

#checkout-loading-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-color: rgba(0,0,0,0.7);
  z-index: 1000;
}

#checkout-loading-wrapper #checkout-loading {
  margin: inherit;
  width: 100%;
  height: 50px;
  display: table;
  margin: auto 0;
  position: absolute;
  top: 0;
  bottom: 0;
  text-align: center;
}

#checkout-loading-wrapper #checkout-image {
  background: url('../images/loading.gif') center no-repeat;
  width: 300px;
  height: 40px;
  margin: 0 auto;
  display: block;
}

#checkout-loading-wrapper #checkout-text {
  width: 33%;
  display: block;
  margin: 0 auto;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;
}

/*
desktop
*/
@media only screen and (min-width: 992px) {
  #edit-payment-information-add-payment-method-payment-details-number {
    width: 80%;
  }

  #card-brand {
    width: 20%;
    float: right;
  }

  /*nome*/
  .form-item-commerce-payment-payment-details-card-holder-name {
    width: 74%;
    float: left;
    margin-right: 5px;
  }

  /*cod seguranca*/
  .form-item-commerce-payment-payment-details-security-code {
    float: left;
    width: 25%;
  }
}
